:root {
    --primary-global-color : #f45d96;
    --primary-global-white : #fff;
    --primary-font-family : 'Quicksand', sans-serif;
    --secondary-font-family :  'Times New Roman', Times, serif;
}
*{
    box-sizing: border-box;
}
.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
.navbar-brand {
    width: 150px; 
}
.brand-logo {
    width: 100%;
    height: 100%;
}

.navbar-toggler {
    padding: 5px;
    border-radius: 0;
}
.nav-btn-lines {
    width: 25px;
    height: 4px;
    background-color: black;
    border-radius: 5px;
}
.nav-item{
    padding: 10px 10px;
    font-size: 18px;
}
ion-icon {
    font-size: 25px;
}
.navbar-nav {
    overflow-y: auto;
}
.nav-remark {
    font-size: 15px;
}
.nav-remark-price {
    font-weight: 500;
}
.header-ani {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: header-ani 0.5s linear 0s 1 ;
    position: sticky;
    top: 0;
    z-index: 100;
}

@keyframes header-ani {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

/* Banner carousel section */
.banner-carousel-container {
    width: 100%;
    height: 100vh;
}
.banner-carousel {
    width: 100%;
    height: 100%;
    position: relative;
}
.owl-dots{
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translateX(-50%);
}
.owl-stage-outer {
    width: 100%;
    height: 100%;
}
.owl-stage {
    width: 100%;
    height: 100%;
}
.owl-item {
    width: 100%;
    height: 100%;

}
.owl-item1{
    background-image: url("../assets/imgs/bgimages/hero-2.jpg.webp");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.owl-item2 {
    background-image: url("../assets/imgs/bgimages/hero-1.jpg.webp");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.owl-item-container {
    width: 100%;
    height: 100%;
    font-family: var(--primary-font-family);

}
.owl-item-container h3 {
    font-size: 20px;
    letter-spacing: 3px;
}
.owl-item-container h1 {
    font-family: var(--secondary-font-family);
    font-size: 50px;
}
.owl-item-container a {
    background-color: var(--primary-global-color);
    color: var(--primary-global-white);
    letter-spacing: 2px;
    border-radius: 30px;
    
}
.owl-item-container a:hover {
    background-color: var(--primary-global-color);
    color: var(--primary-global-white);
}
/* our benefits start */
.benefits h2 {
    font-family: var(--secondary-font-family);
    font-weight: 300;
    font-size: 30px;
}
.benefits p {
    font-size: 18px;
    font-weight: 300;
}
/* our benefits end */