:root {
    --primary-global-color : #f45d96;
    --primary-global-white : #fff;
    --primary-font-family : 'Quicksand', sans-serif;
    --secondary-font-family :  'Times New Roman', Times, serif;
    --third-font-family : 'Nothing You Could Do', cursive;
    --fourth-font-family : 'Libre Baskerville', serif;
}
*{
    box-sizing: border-box;
}
.header {
    width: 100%;
    background-color: var(--primary-global-white);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100;
}
.navbar-brand {
    width: 150px; 
}
.brand-logo {
    width: 100%;
    height: 100%;
}

.navbar-toggler {
    padding: 5px;
    border-radius: 0;
}
.nav-btn-lines {
    width: 25px;
    height: 4px;
    background-color: black;
    border-radius: 5px;
}
.nav-item{
    padding: 10px 10px;
    font-size: 18px;
}

.navbar-nav .nav-item .nav-link:hover ,.navbar-nav .nav-item .nav-link.active {
    color: var(--primary-global-color);
}
.navbar-nav .nav-item .nav-link ion-icon {
    font-size: 25px;
}
.navbar-nav .nav-item {
    position: relative;
}
.navbar-nav .nav-item:hover .list-group{
    display: block;
}
.navbar-nav .nav-item .list-group {
    width: max-content;
    border-radius: 0;
    background-color: #000;
    position: absolute;
    display: none;
}
.navbar-nav .nav-item .list-group .list-group-item{
    background-color: #000;
    padding: 10px 20px;
    border: none;
}
.navbar-nav .nav-item .list-group .list-group-item a {
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-global-white);
}
/* .navbar-nav {
    overflow-y: auto;
} */
.nav-remark {
    font-size: 15px;
}
.nav-remark-price {
    font-weight: 500;
}
.header-ani {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: header-ani 0.5s linear 0s 1 ;
    position: sticky;
    top: 0;
    z-index: 100;
}

@keyframes header-ani {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

/* Banner carousel section */
.banner-carousel-container {
    width: 100%;
    height: 100vh;
}
.banner-carousel {
    width: 100%;
    height: 100%;
    position: relative;
}
.owl-dots{
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translateX(-50%);
}
.owl-stage-outer {
    width: 100%;
    height: 100%;
}
.owl-stage {
    width: 100%;
    height: 100%;
}
.owl-item {
    width: 100%;
    height: 100%;

}
.owl-item1{
    background-image: url("../assets/imgs/bgimages/hero-2.jpg.webp");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.owl-item2 {
    background-image: url("../assets/imgs/bgimages/hero-1.jpg.webp");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.owl-item-container {
    width: 100%;
    height: 100%;
    font-family: var(--primary-font-family);

}
.owl-item-container h3 {
    font-size: 20px;
    letter-spacing: 3px;
}
.owl-item-container h1 {
    font-family: var(--secondary-font-family);
    font-size: 50px;
}
.owl-item-container a {
    background-color: var(--primary-global-color);
    color: var(--primary-global-white);
    letter-spacing: 2px;
    border-radius: 30px;
    
}
.owl-item-container a:hover {
    background-color: var(--primary-global-color);
    color: var(--primary-global-white);
}
/* our benefits start */
.benefits h2 {
    font-family: var(--secondary-font-family);
    font-weight: 300;
    font-size: 30px;
}
.benefits p {
    font-size: 18px;
    font-weight: 300;
}
/* our benefits end */
/* Item show start */
.show-item-count-container {
    height: 400px;
}
.show-item-count {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.show-item-count-1{
    background-image: url("../assets/imgs/bgimages/categories-1.jpg.webp");
}
.show-item-count-2{
    background-image: url("../assets/imgs/bgimages/categories-2.jpg.webp");
}
.show-item-count-3{
    background-image: url("../assets/imgs/bgimages/categories-3.jpg.webp");
}
.show-item-count-4{
    background-image: url("../assets/imgs/bgimages/categories-4.jpg.webp");
}
.show-item-count-content {
    width: 100%;
    padding: 15px 0px;
    background-color: var(--primary-global-white);
}
.show-item-count-content h2 {

    font-family: var(--secondary-font-family);
    line-height: 0.5;
}
.show-item-count-content span {
    font-weight: 300;
}
/* Item show end */
/* About us start */
.about-us-title{
    padding-right: 100px;
}
.about-us-title h6,.content-us-container h6{
    color: var(--primary-global-color);
    letter-spacing: 3px;
    font-size: 18px;
}
.about-us-title h1,.content-us-container h1 {
    font-family: var(--secondary-font-family);
    font-size: 55px;
}
.about-us-content p ,.content-us-container p{
    font-size: 20px;
    font-weight: 300;
}
.about-video-container {

    padding: 50px 0px;
}
.about-video {
    height: 500px;
    background-image: url("../assets/imgs/bgimages/about-video.jpg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}
.about-video a {

    display: inline-block;
    padding: 20px 25px;
    background-color: var(--primary-global-white);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.about-video a i {
    color: var(--primary-global-color);
}
.content-us-container{
    padding: 100px 50px;
    box-shadow: 4px 4px 30px #f4f4f4 ,-4px -4px 30px #f4f4f4;
}
.content-us-container a {
    background-color: var(--primary-global-color);
    border-radius: 50px;
    color: var(--primary-global-white);
}
.content-us-container a:hover{
    color: var(--primary-global-white);
    background-color: var(--primary-global-color);
}
/* About us end */
/* Our flower section start */
.section-title h5 {
    color: var(--primary-global-color);
    letter-spacing: 3px;
    font-size: 17px;
}
.section-title h1 {
    font-size: 45px;
    font-family: var(--secondary-font-family);
}
.our-flower-taps-list-group {
    list-style: none;
    margin: 0;
    padding: 0;
}
.our-flower-taps-list-group li {
    padding: 10px 10px;
}
.our-flower-taps-list-group li a {
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 300;
}
.our-flower-taps-list-group li.active a {
    border: 3px solid var(--primary-global-color);
}
.our-flower-item-container {
    height: 450px;
    overflow: hidden;
}
.our-flower-item-img-container {
    width: 100%;
    height: 85%;
    overflow: hidden;
    position: relative;
}
.our-flower-item-img-container img{
    width: 100%;
    height: 100%;
}

.our-flower-item-icons-container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10%;
    transform: translateY(200%);
    opacity: 0;

    transition: all 0.5s ease 0s;
}
.our-flower-item-icon {
    display: block;
    padding: 8px 13px;
    font-size: 20px;
    color: #000;
    background-color: var(--primary-global-white);
    border-radius: 50%;
    margin: 0px 10px;
    transition: all 0.3s ease 0s;
}
.our-flower-item-icon:hover {
    transform: rotate(360deg);
    color: var(--primary-global-white);
    background-color: var(--primary-global-color);
}
.our-flower-item-container:hover .our-flower-item-icons-container{
    transform: translateY(0px);
    opacity: 1;
}
.our-flower-item-img-container .item-info {
    position: absolute;
    left: 5%;
    top: 5%;
}
.our-flower-item-img-container .item-info .item-detail-info{
    display: block;
    padding: 5px;
    color: var(--primary-global-white);
    font-size: 12px;
    background-color: #000;
}
.our-flower-item-content-container .item-name{
    font-family: var(--secondary-font-family);
}
.our-flower-item-content-container .item-price {
    font-size: 18px;
    transition: all 0.2s ease 0s;
}
.our-flower-item-content-container .item-add-to-cart {
    color: var(--primary-global-color);
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
     transition: all 0.3s ease 0s;
}
.our-flower-item-container:hover .our-flower-item-content-container .item-price{
    transform: translateX(-150%);
    opacity: 0;

}
.our-flower-item-container:hover .our-flower-item-content-container .item-add-to-cart{
    transform: translateY(-140%);
    opacity: 1;
}
/* Our flower section end */
/* View all product start */
.view-all-product-container {
    position: relative;
}
.view-all-product-container .view-all-title {
    width: max-content;
    line-height: 1.7;
    margin-bottom: 100px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    border-bottom: 2px solid #000;
}
.view-all-product-container .view-all-product-body-container {
    padding: 100px 0px;
    color: var(--primary-global-white);
    background-image: url("../assets/imgs/bgimages/call-bg.jpg.webp");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.view-all-product-container .view-all-product-body-container .view-all-body h5 {
    letter-spacing: 3px;
    font-size: 17px;
}
.view-all-product-container .view-all-product-body-container .view-all-body h1 {
    margin: 30px 0px;
    font-size: 50px;
    font-family: var(--third-font-family);
    font-weight: 800;
}
.view-all-product-container .view-all-product-body-container .view-all-body .view-all-btn-container a {

    padding: 10px 30px;
    margin: 0px 10px;

    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
}
.view-all-product-container .view-all-product-body-container .view-all-body .view-all-btn-container a:nth-of-type(1){
    background-color: #f45d96;
    color: #f4f4f4;
}
.view-all-product-container .view-all-product-body-container .view-all-body .view-all-btn-container a:nth-of-type(2){
    color: #f45d96;
    background-color: #f4f4f4;
}
/* view all product end */
/* Latest Post start */
.latest-post-container .latest-post-heard-container .latest-post-header h4 {
    color: var(--primary-global-color);
    letter-spacing: 3px;
    font-size: 16px;
}
.latest-post-container .latest-post-heard-container .latest-post-header h1 {
    font-size: 45px;
    font-family: var(--secondary-font-family);
    line-height: 1.5;
}
.latest-post-container .latest-post-heard-container .latest-post-btn-container a {
    display: inline-block;
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
    border-radius: 50px;
    border: 2px solid var(--primary-global-color);
}
.latest-post-body-container .latest-body-items-container {
    height: max-content;
    box-shadow: 5px 5px 20px #f4f4f4;

}
.latest-post-body-container .latest-body-items-container:hover .latest-body-items-content-container h1{
    text-decoration: underline;

}
.latest-post-body-container .latest-body-items-container .lates-body-items-img-container {
    width: 100%;
    position: relative;
}
.latest-post-body-container .latest-body-items-container:hover .lates-body-items-img-container .items-title-container{
    background-color: #f45d96;
    color: var(--primary-global-white);

}
.latest-post-body-container .latest-body-items-container .lates-body-items-img-container img {
    width: 100%;
}
.latest-post-body-container .latest-body-items-container .lates-body-items-img-container .items-title-container {
    width: max-content;
    padding:5px;
    background-color: #000;
    color: var(--primary-global-white);

    position: absolute;
    left: 50%;

    transform: translate(-50%,-50%);
    transition: all 0.3s ease 0s;
}

.latest-post-body-container .latest-body-items-container .latest-body-items-content-container h1{
    font-size: 33px;
    font-family: var(--secondary-font-family);
}
/* latest post end */
/* Cover letter section start */
.cover-letter-main-container {
    background-color: #f7f5fa;
    position: relative;
    overflow: hidden;
}
.cover-letter-main-container::before{
    content: "";
    width: 300px;
    height: 100%;

    /* background-color: #f45d96; */
    background-image: url("../assets/imgs/bgimages/left-bg.png.webp");
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
    transform: scale(1.4) translateY(14%);


    position: absolute;
    left: -40px;
    top: 0px;
    z-index: 1;
}
.cover-letter-main-container::after{
    content: "";
    width: 300px;
    height: 100%;

    /* background-color: #f45d96; */
    background-image: url("../assets/imgs/bgimages/right-bg.png.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    transform: scale(1.4) translate(5%,0%);


    position: absolute;
    right:0px;
    top: 0px;
    /* z-index: ; */
}
.cover-letter-content-header {
    width: 80px;
}
.cover-letter-content-header img {
    width: 100%;
}
.cover-letter-container {
    width: 80%;
    height: max-content;
    /* background-color: aqua; */
}
.cover-letter-content {
    height: max-content;
    padding: 30px;
}
.cover-letter-content p{
    font-size: 27px;
    font-family: var(--fourth-font-family);
    font-style: italic;
}
.cover-letter-content h4{
    font-size: 25px;
    font-family: var(--secondary-font-family);
}
.cover-letter-content span {
    font-size: 15px;
}
/* cover letter section end */
/* follow us section start */
.follow-us-items-container{
    width: 260px;
    height: 350px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}
.follow-us-items-container:nth-of-type(1){
    background-image: url("../assets/imgs/bgimages/insta-1.jpg.webp");
}
.follow-us-items-container:nth-of-type(2){
    background-image: url("../assets/imgs/bgimages/insta-2.jpg.webp");
}
.follow-us-items-container:nth-of-type(3){
    background-image: url("../assets/imgs/bgimages/insta-3.jpg.webp");
}
.follow-us-items-container:nth-of-type(4){
    background-image: url("../assets/imgs/bgimages/insta-4.jpg.webp");
}
.follow-us-items-container:nth-of-type(5){
    background-image: url("../assets/imgs/bgimages/insta-5.jpg.webp");
}
.follw-us-items-content {
    background-color: var(--primary-global-white);
    padding: 20px;
    transform: scale(0);

    transition: all 0.5s ease 0s;
}
.follw-us-items-content i {
    font-size: 25px;
    color: var(--primary-global-color);
}
.follw-us-items-content span {
    font-size: 20px;
    font-family: var(--secondary-font-family);
}
.follw-us-items-content span a {
    color: inherit;
}
.follow-us-items-container:hover .follw-us-items-content {
    transform: scale(1);
}
/* follow us section end */
/* footer section start */
.footer-section-container .footer-header-container .footer-icons-container a {
    display: inline-block;
    padding: 0px 15px;
    color: #000;
    font-size: 18px;
}
.footer-body-container h1 {
    font-size: 30px;
    font-family: var(--secondary-font-family);
}
.footer-body-container .company-account-container ,.footer-body-container .getintouch-container{
    border-top: 1px solid #f1f1f1 ;
    border-bottom: 1px solid #f1f1f1 ;
} 
.footer-body-container .newletter-container p{
    font-size: 18px;
}
.footer-body-container .input-group {
    border-bottom: 2px solid #000;
}
.footer-body-container .input-group input[type=email]{
    width: 60%;
    border: none;
}

.footer-body-container .input-group input[type=email]::placeholder{
    font-size: 18px;
    font-family: var(--secondary-font-family);
}
.footer-body-container .input-group input[type=email]:focus{
    border: none;
    outline: none;
}
.footer-body-container .input-group input[type=submit]{
    font-weight : 700;
    background-color: transparent;
    border: none;

}
/* footer sectio end */



@media(max-width:786px){
    .navbar-nav {
    overflow-y: scroll;
    }
    .navbar-nav .nav-item .list-group {
        position: relative;
        width: 100%;
    }
    .our-flower-item-container {
        height: 600px;
    }
    .cover-letter-main-container::before{
        background-image: url("");

    }
    .cover-letter-main-container::after{

        background-image: url("");

    }
}

/* ------------------------------------- */
/* About Page Start */
/* page-header */
.page-header {
    background-image: url("../assets/imgs/bgimages/breadcrumb-bg.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header-container .page-header-content h1 {
    font-size: 50px;
    font-family: var(--secondary-font-family);
}
.page-header-container .page-header-content span {
    font-size: 18px;
}
.page-header-container .page-header-content span a{
    text-decoration: none;
}
.page-header-container .page-header-content span a:nth-child(1){
    color: var(--primary-global-color);
    
}
/* about us florist services start*/
.about-us-service-container .about-us-service-contents-box {
    position: relative;
    padding: 50px 40px;
}
.about-us-service-container .about-us-service-contents-box .about-us-benefit-icons {
    background-color: var(--primary-global-white);
    padding: 10px;
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
}
.about-us-service-container .about-us-service-header h4{
    font-size: 16px;
    color: var(--primary-global-color);
    letter-spacing: 3px;
}
.about-us-service-container .about-us-service-header h1 {
    font-family: var(--secondary-font-family);
}
/* about us florist services end*/
/* about us team section start */
.about-us-team-container .our-team-body-items-content-container h1{
    font-family: var(--secondary-font-family);
    font-size: 30px;
}
.about-us-team-container .our-team-body-items-content-container p{
    color: var(--primary-global-color);
    font-weight: 300;
    font-size: 20px;
}
.our-team-body-items-content-container .our-team-content-link-icons a{
    color: #cacaca;
    font-size: 18px;
    display: inline-block;
    padding: 0px 10px;
}
/* about us team section end */

/* --------------------------------- */
/* Service Page */
/* Our Service Section Start */
.our-service-tap-main-container .our-service-tap-container {
    padding: 60px 40px;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;


}
.our-service-tap-main-container .our-service-tap-container.active {
    border: 1px solid var(--primary-global-color);
}
.our-service-tap-container .our-service-tap-icon{
    width: 80px;
    height: 80px;
    background-color: var(--primary-global-white);

    position: absolute;
    left: 50%;
    top: -25%;

    transform: translate(-50%,25%);

}
.our-service-tap-main-container .our-service-tap-container .our-service-tap-content h3{
    font-family: var(--secondary-font-family);
}
.our-service-tap-main-container .our-service-tap-container .our-service-tap-content p {
    font-size: 17px;
}
.our-service-content-container .our-service-content-head-img-container {
    width: 100%;
    height: auto;
    position: relative;
}
.our-service-content-container .our-service-content-head-img-container img {
    width: 100%;
}
.our-service-content-container .our-service-content-head-img-container a {
    color: var(--primary-global-color);
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.our-service-content-body-container{
    padding-top: 40px;
    position: relative;

}
.our-service-content-header {
    display: inline-block;
    background-color: var(--primary-global-white);
    padding: 5px 10px;
    position: absolute;
    left: 0;
    top: -50px;
}
.our-service-content-header h1{
    font-size: 50px;
    font-family: var(--secondary-font-family);
}
.our-service-content-header p {
    color: var(--primary-global-color);
    font-size: 18px;
}
.our-service-content-body-container .our-service-content-body {
    padding-top: 40px;
}
.our-service-content-body-container .our-service-content-body p {
    font-size: 17px;
    font-weight: 300;

}
.service-quote-container {
    padding: 70px;
    background-color: #f4f4f4;
}
.service-quote-container h1 {
    font-family: var(--secondary-font-family);
}
.service-quote-container form .form-controls {
    width: 100%;
    padding: 10px 15px;
}
.service-quote-container form .form-controls:focus {
    outline: none;
}
.service-quote-container form textarea.form-controls{
    height: 150px;
}
/* Our Service section End */
/* -------------------------------- */
/* Contact Us Page Start */
.contact-us-section-container .contact-get-in-touch-container h1,.contact-us-section-container .contact-us-box-container h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-family: var(--secondary-font-family);
}
.contact-us-section-container .contact-get-in-touch-container p {
    font-size: 18px;    
    font-weight: 300;
}
.contact-us-section-container .contact-get-in-touch-container .get-in-touch-icons-container {
    margin: 10px 0px;
}
.contact-us-section-container .contact-get-in-touch-container .get-in-touch-icons-container i {
    font-size: 13px;
    color: var(--primary-global-color);

    display: inline-block;
    margin-right: 10px;
}
.contact-us-section-container .contact-get-in-touch-container .get-in-touch-icons-container span {
    font-size: 17px;
    font-weight: 300;
}
.contact-us-section-container .contact-us-box-container form input,.contact-us-section-container .contact-us-box-container form textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
}
.contact-us-section-container .contact-us-box-container form input::placeholder,.contact-us-section-container .contact-us-box-container form textarea::placeholder{
    color: #bbb;
}
.contact-us-section-container .contact-us-box-container form input:focus,.contact-us-section-container .contact-us-box-container form textarea:focus{
    outline: none;
}
.contact-us-section-container .contact-us-box-container form button[type=submit]{
    font-size: 19px;
    padding: 14px 25px;
    letter-spacing: 4px;
    color: var(--primary-global-white);
    background-color: #000;
}
.contact-us-section-container .contact-map-container iframe {
    width: 100%;
    height: 300px;
}
/* Contact Us Page End */
